/AvgSA_03_hazard_curves_60sites_3sig.pickle
/AvgSA_03_hazard_curves_60sites_4sig.pickle
/AvgSA_03_hazard_curves_60sites_5sig.pickle
/AvgSA_06_hazard_curves_60sites_3sig.pickle
/AvgSA_06_hazard_curves_60sites_4sig.pickle
/AvgSA_06_hazard_curves_60sites_5sig.pickle
/AvgSA_03_disagg_stats_wp1sites_eps4.pickle
/AvgSA_06_disagg_data_wp1sites_eps4.pickle
/AvgSA_06_disagg_stats_wp1sites_eps4.pickle
/AvgSA_03_disagg_data_wp1sites_eps4
/SA_hazard_curves_60sites_4sig.pickle
/SA_hazard_surfaces_60sites_4sig.pickle
